/* PHASE 9: Forms */
.content-main > .content-form {
  border-radius: 10px;
  
}
.content-form {
  float: right;
  width: 500px;
  background-color: lightgrey;
  padding: 15px;
}

.input input{
  background-color: whitesmoke;
}

.submit #button{
  background-color: green;
  padding: 10px;
  color: white;
}

